<?xml version="1.0"?>
<config>
    <modules>
        <Veeble_Giftregistry>
            <version>0.1.0</version>
        </Veeble_Giftregistry>
    </modules>
    <global>
        <models>
            <veeble_giftregistry>
                <class>Veeble_Giftregistry_Model</class>
                <resourceModel>veeble_giftregistry_mysql4</resourceModel>
            </veeble_giftregistry>
            <veeble_giftregistry_mysql4>
                <class>Veeble_Giftregistry_Model_Mysql4</class>
                <entities>
                    <entity>
                        <table>veeble_giftregistry_entity</table>
                    </entity>
                    <item>
                        <table>veeble_giftregistry_item</table>
                    </item>
                    <type>
                        <table>veeble_giftregistry_type</table>
                    </type>
                </entities>
            </veeble_giftregistry_mysql4>
        </models>
        <blocks>
            <veeble_giftregistry>
                <class>Veeble_Giftregistry_Block</class>
            </veeble_giftregistry>
        </blocks>
        <helpers>
            <veeble_giftregistry>
                <class>Veeble_Giftregistry_Helper</class>
            </veeble_giftregistry>
        </helpers>
        <resources>
            <veeble_giftregistry_setup>
                <setup>
                    <module>Veeble_Giftregistry</module>
                    <class>Veeble_Giftregistry_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </veeble_giftregistry_setup>
            <veeble_giftregistry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </veeble_giftregistry_write>
            <veeble_giftregistry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </veeble_giftregistry_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <veeble_giftregistry>
                <use>standard</use>
                <args>
                    <module>Veeble_Giftregistry</module>
                    <frontName>giftregistry</frontName>
                </args>
            </veeble_giftregistry>
        </routers>

        <layout>
            <updates>
                <veeble_giftregistry module="veeble_giftregistry">
                    <file>veeble_giftregistry.xml</file>
                </veeble_giftregistry>
            </updates>
        </layout>
    </frontend>
</config>